<!DOCTYPE html>
<html>
<head>
	<title>Buscaminas</title>
    <link rel="stylesheet" type="text/css" href="resources/css/Buscaminas.css">
	<meta charset="UTF-8">
    <link rel="shortcut icon" href="resources/Imagenes/gamepad-solid.svg">
</head>
<body>
    <header class="menu">
        <a class="volver" href="./Juego1">volver</a>
        <h2 class="Nombre">
            Buscaminas
        </h2>
        <nav class="login">
            <a class="linkLogin" href="./login">Login</a>
            <div class="fotoPerfil">
                <img src="" alt="">
            </div>
        </nav>
    </header>
    <div class="contedorTablero">
        <div id="tablero"></div>
        <div id="estado"><div>Nº de minas restante: <span id="numMinasRestantes"></sapn></div></div>
    </div>
</body>
    <script language="JavaScript" src="resources/Buscaminas.js"></script>
</html>