@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #180757;
    font-family: 'Rajdhani', sans-serif;
    height: 100vh;
    overflow: hidden;
}
.contenedorPrincipal{
    color: #21a036 ;
    padding-left: 40px;
    background-color: #08021E;
    height: 550px;
    display: flex;
    flex-direction: column;
    display: grid;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
}

.juego{
    float: right;
    height: 90px;
    width: 70%;
    background-color: #180757;
    color: #21a036;
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    border: 3px solid #21a036;
    border-radius: 3px;
}


.juego:hover{
    background-color: #1f134b;
    border: 3px solid #00fa2a;
    color: #00fa2a;
    text-shadow: 0 0 5px #00fa2a;
    border-radius: 3px;
    box-shadow: 0 0 5px #00fa2a;
    transition: transform .25s;
    transform:scale(1.2);
    cursor: pointer;
}
.juego:active{
    transition: transform .05s;
    transform:scale(0.98);
    cursor: pointer;
}

.menu{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.HOME{
    color: #21a036;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}
.HOME:hover{
    color: #00fa2a;
    text-shadow: 0 0 5px #00fa2a;
    cursor: pointer;
}

.linkLogin{
    text-decoration: none;
    color: #21a036;
    padding-right: 10px;
    
}
.linkLogin:hover{
    color: #00fa2a;
    text-shadow: 0 0 5px #00fa2a;
}
.login{
    display: flex;
    justify-content: end;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.fotoPerfil{
    background-color: #a2c4a7;
    height: 33px;
    width: 33px;
    border-radius: 2px;
    border: 2px solid #21a036;
}

.fotoPerfil:hover{
    background-color: #c6eccc;
    border: 2px solid #00fa2a;
    box-shadow: 0 0 5px #00fa2a,
    0 0 10px #00fa2a;
    cursor: pointer;
}

.barraInferior{
    height: 50px;
    position: absolute;

}
.iconos{
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 0px;
    left: 10px;
    height: 63px;
    width: 300px;
}
.iconos img{
    background: #00fa2a;
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}
.iconos img:hover{
    box-shadow: 0 0 5px #00fa2a,
    0 0 10px #00fa2a,
    0 0 15px #00fa2a
    ;
    cursor: pointer;
}   